---
title: Complete Product Categories
description: Product Categories moving to Viable in FY20
suppress_header: true
layout: default
extra_css:
  - home.css
---

.container
  = partial "direction/viable-categories/sdlc-viable"
