---
layout: handbook-page-toc
title: Product Division OKRs
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


<%= partial("handbook/product/product-handbook-links") %>

## Product Division OKR Overview

For an overview of our overall approach to OKRs, as well as any company-wide OKR due dates, visit [Objectives and Key Results (OKRs)](https://about.gitlab.com/company/okrs/). 

### General timeline and process 

**_Please note: Image not up-to-date and will be updated for FY23 Q1 onward._**

![General timeline and process ](/images/handbook/product/okr-process.png)

### Guidance on timeline and process

This page provides an overview of the Product Division OKR workflow. All departments (product management, UX, etc.) collaborate by following this guidance. For clarifications on the OKR process, team members can post in Slack #product and tag [Product Operations](https://about.gitlab.com/company/team/#fseifoddini). Team members can also attend [Product Operations office hours](/handbook/product/product-processes/#product-operations-office-hours-bi-weekly) for live support. Every quarter, there will also be a feedback issue linked on this page as part of the current quarter references that anyone can contribute to. 

## Timeline and process for every quarter

### OKR Kick-off by Chief Product Officer

- **8 weeks** prior to the start of the  quarter, an [automated drafting issue](https://gitlab.com/gitlab-com/Product/-/blob/main/.gitlab/issue_templates/Product-Division-OKR-Drafting.md) kicks off the OKR drafting process: 
     - Product Operations updates the issue with known Objectives, due dates and any other details needed
     - Product Operations signals the Chief Product Officer and the Product team the drafting issue is available for contributions/ideation
- **6 weeks** prior to the start of the quarter: 
     - CEO and Chief of Staff to the CEO initiate the OKR process. See [CEO initiates new quarter's OKRs](https://about.gitlab.com/company/okrs/#ceo-initiates-new-quarters-okrs)
     - CProdO shares proposed Product Division OKRs aligned to the [annual product investment themes](https://about.gitlab.com/direction/#fy23-product-investment-themes) and annual CEO Objectives leveraging the [drafting issue](https://gitlab.com/gitlab-com/Product/-/blob/main/.gitlab/issue_templates/Product-Division-OKR-Drafting.md) and pings the Product Leadership Team for review and feedback
     - Product Leadership team  provides  their feedback or any alternate OKRs in the drafting issue
     - VP, UX provides OKR proposals from the UX perspective, in the drafting issue
     - Product Operations tags Product Management, CoS to CTO/Engineering and any other cross-funcitional leaders necessary to review/consider for shared OKRs
- **5 weeks** prior to the start of the quarter:
     - Initial draft of CEO OKRs is shared with E-Group in the E-Group Weekly. 
     - CProdO aligns Product Division OKRs with CEO OKRs if needed and gets CEO approval as needed
     - CProdO discusses any joint Product-Engineering OKRs with CTO as needed
- **4 weeks** prior to the start to quarter:
     - CProdO updates and finalizes Product Division OKRs in the drafting issue 
     - Product Operations creates high level OKRs in GitLab and tags in Product Managers to finalize KR drafts with their [Product Grooup/Quad](https://about.gitlab.com/handbook/product/product-processes/#quad--infra--security-product-group-dris)
     - Product Operations tags CoS to CTO/Engineering to finalize committments to shared OKRs
- **3 weeks** prior to start of fiscal quarter, Product Operations  asks Product Leadership to review all their  Product Managers' OKRs and finalize their teams' OKR committments 
- **1 week** prior to quarter start, Product Operations reviews and ensures all OKRs have been drafted and added in GitLab
- **1 week** after quarter start: 
   - Product Operations reminds all Product update previous quarter scores and close their OKR issues
   - Product Operations asks  Directors, and Group Product Managers to run [OKR retrospectives](https://gitlab.com/gitlab-com/Product/-/issues/new?issuable_template=OKR-Retrospective) for their teams for the previous quarter. 

### Current quarter OKR references
This section will be updated by Product Operations quarterly. 

- [FY23 Q4 Product Division OKRs](https://gitlab.com/groups/gitlab-com/-/epics/2050)
- [FY23 Q4 OKR overview video](https://youtu.be/lnaKB1P28S4)
- [FY23 Q4 feedback issue](https://gitlab.com/gitlab-com/Product/-/issues/5212)
- [FY24 Q1 company-wide OKR timeline](https://about.gitlab.com/company/okrs/fy24-q1/#okr-schedule)

#### Past Quarters

Product Division (PM and UX) OKRs for the following quarters can be found in this [sheet](https://docs.google.com/spreadsheets/d/1eDbadMdoXDnyUK_Homr-ilCQSsaeOGDsflc8FNmMyGs/edit#gid=622042351) as Ally.io usage is has been sunsetted:

- FY23 Q3
- FY23 Q2
- FY23 Q1
- FY22 Q4
- FY22 Q3

- [Product OKRs FY22 Q2](https://gitlab.com/gitlab-com/Product/-/issues/2376)
- [Product OKRs FY22 Q1](https://gitlab.com/gitlab-com/Product/-/issues/1914)
- [Product OKRs FY21 Q4](https://gitlab.com/gitlab-com/Product/-/issues/1566)
- [Product OKRs FY21 Q3](https://gitlab.com/gitlab-com/Product/-/issues/1320)


## Updating the Status and Progress of OKRs 

**When to update the status of Product OKRs** 

- For all Product team OKRs, the KR owners are responsible for keeping the status of their KRs in Ally.io up to date
     - Team members who **own** specific OKRs will update [the score (% complete) in Ally.io](https://about.gitlab.com/company/okrs/#scoring-okrs) monthly and ping any relevant stakeholders as needed. For example, since FY23-Q1 begins February 1, KR owners will provide score updates by February 15,  March 15 and April 15. We follow this mid-month cycle to ensure there are accurate OKR status updates for [Key Reviews](https://about.gitlab.com/handbook/key-review/) which typically happen around the 20th of each month.
- **Owners** of KRs will get pinged with reminders to do "check-ins" via  Ally/Slack around the 5th of each month. To get more reminders or to opt-out, visit [how to use Ally.io](#how-to-use-allyio) 
- **Owners** of KRs will also get pinged in the [Product Key Review issue](https://gitlab.com/gitlab-com/Product/-/issues/2919) as needed to update the Product Key Review slides around the 18th of each month based on what is in Ally.io

**How to report progress (% score in Ally) of Product OKRs**

In order to maintain consistency in evaluating progress across R & D, all Product OKRs will follow the scoring method outlined below as proposed in [Scoring Shared OKRs Consistently Across R & D](https://gitlab.com/gitlab-com/ally-okr-rollout/-/issues/25).

At the beginning of each quarter, shared product KR owners should lead and align the [Product Group](https://about.gitlab.com/handbook/product/product-processes/#quad--infra--security-product-group-dris) (the cross-functional team doing the work) to define a plan to accomplish their KRs as scorable in the following manner:

**Scoring Method: Scale**

This method allows for flexibility and can give you credit for achieving part of the key result. KRs are scored on a 0-100% scale. If you deliver part of the KR you can credit that result as a % score. 

     Example:

     Objective: Improve License Management

     - KR1 - Close 16 License issues
     - KR2 - Reduce license-related support tickets by 4%
     - KR3 - Manually audit 100% of missing license data

     If you use the scale scoring method it would look like this:

     - KR1 - Closed 8 of 16 issues - 50%
     - KR2 - Reduced license-related support tickets by 3.8% - 95%
     - KR3 - Manually audited 100% of missing license data - 100%

In this scenario you didn’t complete two of the KRs, but since you selected the Scale method you were able to get credit for what was completed. For example, 8 of 16 pain points is 1/2 of the KR, so the score is 50%. If additional issues were found during development, you would create a new OKR to resolve those issues the following quarter rather than shift the target of your current quarter.

**Note:** It is recommended to leverage the [Ally/GitLab issue integration](https://www.youtube.com/watch?v=cLgrylX8ufw) to help automate the % tracking of the progress of KRs in Ally in tandem with the methodology above. This will create a clear tie between KRs in Ally and the work related to the KR in GitLab. However, KRs can also be scored manually in Ally.io. For more guidance on how to leverage the Ally/GitLab issue integration see this [sample issue](https://gitlab.com/gitlab-com/ally-okr-rollout/-/issues/6#examples) and other resources in [how to use Allio.io](#how-to-use-allyio).

**How this will look in Product Key Review slides**

- Product Key Reviews will reference Ally.io in an [OKR specific slide](https://docs.google.com/presentation/d/1O5Kc1kpJJBm5aJFT24V05xuR3pHjCGzID-QkYcUSZ5k/edit#slide=id.ge7a2c8f4b9_0_12)
- Product team OKR owners may leverage this [slide template](https://docs.google.com/presentation/d/1O5Kc1kpJJBm5aJFT24V05xuR3pHjCGzID-QkYcUSZ5k/edit#slide=id.geb1b1c60d1_1_4) if additional details are needed for their KRs

## How to write OKRs

It is highly recommended that product groups limit the number of OKRs they commit to so they have reasonable bandwidth to deliver  on them. PMs should consider either setting 1 OKR that's not related to a product theme **OR** 3 or fewer KRs if they are using the product themes as their objectives.

Here's are some examples of  how GPMs and PMs can use  epics/issues to plan and outline their product group OKRs:

- [Create stage](https://gitlab.com/gitlab-org/create-stage/-/issues/12875)

     - [Create: Editor group](https://gitlab.com/gitlab-com/www-gitlab-com/-/issues/12044)

     - [Create: Code review group](https://gitlab.com/gitlab-org/create-stage/-/issues/12877)

- Manage stage

     - [Compliance group](https://gitlab.com/gitlab-org/gitlab/-/issues/334921)

[Verify stage](https://gitlab.com/gitlab-org/verify-stage/-/issues/89)

To learn more about what OKRs are and the importance of OKRs at GitLab, see the [company OKR handbook page](https://about.gitlab.com/company/okrs/).

To learn about the industry best practices for OKRs, how setting the right goals can mean the difference between success and failure, and how we can use OKRs to hold our leaders and ourselves accountable, watch [John Doerr's Ted Talk](https://www.youtube.com/watch?v=L4N1q4RNi9I). You can also find more resources in [Product Management Learning & Development](https://about.gitlab.com/handbook/product/product-manager-role/learning-and-development/#-kpis-and-metrics)

For information on [getting started with OKRs](https://learn.ally.io/path/employee/getting-started-with-okrs) and [writing basic okrs](https://learn.ally.io/writing-basic-okrs) see the linked courses from our OKR vendor Ally.

Samples of well written KRs from GitLab team members from the [Q2 product group KR experiment](https://gitlab.com/gitlab-com/Product/-/issues/2095). What makes these great is that they're succinct in scope and have clear metrics to measure success.

**Product theme (Objective)**: Drive a meaningful impact on Usability (Bugs, Infradev, Security)
**KRs (Key Results):**
- group::threat insights: Meet SLAs for all P1 and P2 bugs affecting usability
- group::code review: Reduce mean-time-to-close of S1 + S2 bugs by 50%
- group::editor: Complete 10 usability issues related to our primary categories (Web IDE, Snippets, Wiki)

## Additional Resources

- [What Matters](https://www.whatmatters.com/)

## Timeline and process for previous quarters

For previous quarters, please see [previous quarter OKR timelines](/handbook/product/product-okrs/previous-quarters/)

## How to contribute to this page

We encourage suggestions and improvements to the Product OKR process so please feel free to raise an MR to this page. To keep us all aligned, as the process touches all teams across the company, please assign all MRs for collaboration, review and approval to [Product Operations](https://gitlab.com/fseifoddini).
